@keyframes 上出 {
    from {
        opacity: 0;
        transform: translate3d(0, -50%, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes 下出 {
    from {
        opacity: 0;
        transform: translate3d(0, 50%, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes 左出 {
    from {
        opacity: 0;
    transform: translate3d(-50%, 0, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes 右出 {
    from {
        opacity: 0;
        transform: translate3d(50%, 0, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}


.上出 {
    animation-duration: 0.8s;
    animation-fill-mode: both;
    animation-name: 上出;
}

.下出 {
    animation-duration: 0.8s;
    animation-fill-mode: both;
    animation-name: 下出;
}
.左出 {

    animation-duration: 0.8s;
    animation-fill-mode: both;
    animation-name: 左出;
}

.右出 {
    animation-duration: 0.8s;
    animation-fill-mode: both;
    animation-name: 右出;
}



.上出动画 {
    opacity: 0;
    filter: alpha(opacity=0)\9;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0)
}

.is-visible .上出动画 {
    opacity: 1; 
    filter: alpha(opacity=100)\9;
    -webkit-transition: opacity 0.8s, -webkit-transform 0.8s;
    transition: opacity 0.8s, transform 0.8s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}


.下出动画 {
    opacity: 0;
    filter: alpha(opacity=0)\9;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0)
}

.is-visible .下出动画 {
    opacity: 1; 
    filter: alpha(opacity=100)\9;
    -webkit-transition: opacity 0.8s, -webkit-transform 0.8s;
    transition: opacity 0.8s, transform 0.8s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}


.左出动画 {
    opacity: 0;
    filter: alpha(opacity=0)\9;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0)
}

.is-visible .左出动画 {
    opacity: 1; 
    filter: alpha(opacity=100)\9;
    -webkit-transition: opacity 0.8s, -webkit-transform 0.8s;
    transition: opacity 0.8s, transform 0.8s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}


.右出动画 {
    opacity: 0;
    filter: alpha(opacity=0)\9;
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0)
}

.is-visible .右出动画 {
    opacity: 1;
    filter: alpha(opacity=100)\9;
    -webkit-transition: opacity 0.8s, -webkit-transform 0.8s;
    transition: opacity 0.8s, transform 0.8s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}